.calculator{
  width:30vw;
  height:70vh;
  border:1px solid rgb(181, 178, 178);
  margin:auto;
  position:relative;
  top:70px;
  display:grid;
  gap:5px;
  padding: 20px;
}
.calculator>.form-group{
  display:flex;
  justify-content: space-between;
  gap:5px;
}
.calculator>.form-group>button{
  width:25%;
  font-size: 20px;
  border:none;
  border-radius: 5px;
}
.calculator>.form-group>button:hover{
  background-color: rgb(158, 152, 152);
}

.calculator>.form-group>input{
  font-size:40px;
  border:1px solid rgb(227,218,218);
  text-align: end;
  outline:none;
  border-radius: 5px;
  padding-right: 10px;
}
.calculator>.form-group>.evaluate{
  color:aliceblue;
  background-color: rgb(75, 74, 75);
  font-size: 30px;
}
.calculator>.form-group>.evaluate:hover{
  background-color: rgb(85, 84, 85);
 
}